/* div {
    border: 1px solid red;
} */

html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

.container {
    height: 100%;
}

a.underline:link {
    color: white;
    text-decoration: none;
}

a.underline:visited {
    color: white;
    text-decoration: none;
}

a.underline:hover {
    color: white;
    text-decoration: none;
}

a.underline:active {
    color: white;
    text-decoration: none;
}

body {
    background: rgb(235, 235, 235);
}

.accountModal {
    margin-top: 30%;
    background: rgba(255, 255, 255, 0.7);
}

.ReactModal__Overlay {
    background: rgba(64, 64, 64, 0.80) !important;
    box-shadow: 0px 2px 30px 1px;
}

.modalBody {
    background: rgb(235, 235, 235);
}

.modalShadow {
    box-shadow: 0px 2px 30px 1px;
}

input {
    width: 100%;
}

#editIcon,
#deleteIcon {
    width: 2em;
}

.navbar {
    background: rgba(32, 32, 32, 0.9);
    border-bottom: 1px solid rgb(220, 64, 48);;
    padding: 2px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#navBarLoggedOut {
    position: initial;
}

#vehicleLogInformation,
#field {
    margin-top: 4em;
}

.navbar-nav {
    position: fixed;
    right: 0;
}

.jumbotron {
    margin-top: 10px;
}

.box {
    background: rgb(245, 245, 245);
    padding: 1em;
}

.innerBox {
    margin: 10px;
    padding: 1em;
}

.commentsBox {
    width: 100%;
    margin: auto;
}

.required {
    color: red;
}

.resetButton,
.logSubmitBtn,
.logDeleteBtn {
    text-align: center;
}

.addBtn,
.resetButton,
.cancelBtn,
.deleteBtn,
.backHomeBtn,
#editActionButton,
#deleteActionButton {
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.cancelBtn,
.backHomeBtn {
    background: rgb(225, 225, 225)
}

.addBtn {
    background: rgb(200, 255, 200);
}

.resetButton {
    background: rgb(200, 235, 255);
}


.deleteBtn,
#deleteActionButton {
    background: rgb(255, 200, 200);
}

#deleteBtn {
    margin: auto;
}

.addBtn:hover,
.resetButton:hover,
.cancelBtn:hover,
.deleteBtn:hover,
.backHomeBtn:hover,
#editActionButton,
#deleteActionButton {
    transition-duration: 0.2s;
}

.addBtn:hover {
    background: rgb(128, 255, 128);
}

.resetButton:hover {
    background: rgb(128, 200, 255);
}


.deleteBtn:hover,
#deleteActionButton:hover {
    background: rgb(255, 128, 128);
}

.cancelBtn:hover,
.backHomeBtn:hover,
#editActionButton:hover {
    background: rgb(255, 255, 255)
}

#signUpNavButton {
    color: rgb(220, 64, 48);
}

#signOutNavButton,
#signInNavButton {
    color: rgb(200, 200, 200);
}

#signOutNavButton:hover,
#signInNavButton:hover {
    background: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

#signUpNavButton:hover {
    background: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

#addLogBackButton,
#addServiceLogButton,
#addLogResetInputFieldsButton,
#addLogDeleteVehicleButton,
#printPageButton {
    width: 9em;
}

.nav-link:hover {
    transition-duration: 0.1s;
    background: rgb(64, 64, 64);
}

.nav-link {
    transition-duration: 0.2s;
}

.nav-link {
    cursor: pointer;
}

.navbar-toggler {
    border-color: rgb(255, 192, 64) !important;
    background: white;
}

.notLoggedInImages {
    width: 100%;
}

#notLoggedInCarGif {
    width: 55%;
}

#createAccountLogo {
    width: 5%;
    margin-right: 5px;
}

.warningImage,
.signOutImage {
    width: 50%;
}

.checkMarkImage {
    width: 10%;
    margin-left: 8px;
    margin-right: -495px;
}

.vehicleItemList {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin-bottom: 5px !important;
    background: rgb(240, 240, 240);
    transition-duration: 0.2s;
}

.vehicleItemList:hover {
    background: rgb(240, 240, 240);
    transition-duration: 0.2s;
}

.Toastify__toast-container--top-right {
    top: 3em !important;
    right: 1px !important;
}

#applicationName {
    color: rgb(200, 200, 200);
    padding-left: 1%;
    transition-duration: 0.4s;
}

#applicationName:hover {
    color: rgb(255, 255, 255);
    transition-duration: 0.2s;
}

.serviceLogActionDropdown {
    border-radius: 5px;
    margin: auto;
    width: 100%;
}

.showUnderMobileDisplay {
    display: none;
}

#serviceLogDateInput {
    height: 2em;
}

#noMatch {
    padding-top: 4em;
    margin-top: 0em !important;
}

#noMatchImage {
    width: 20em;
}

@media print {
	.hideWhilePrinting {
        display: none;
    }

    .Toastify__toast-container {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .actionButtonsMobileDisplay {
        max-width: 45%;
    }

    #addLogBackButton,
    #addServiceLogButton,
    #addLogResetInputFieldsButton,
    #printPageButton {
        width: 7em;
    }
    
    #addLogDeleteVehicleButton {
        width: 8em;
    }

}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        position: initial;
        right: 0;
        text-align: center;
    }

    #signOutNavButton,
    #signInNavButton,
    #signUpNavButton {
        font-size: 20px;
        font-weight: bold;
    }

    #addVehicleButton,
    #resetVehicleInputFieldsButton {
        width: 7em;
    }

    .actionButtonsMobileDisplay {
        max-width: 50%;
    }

    #addLogBackButton,
    #addServiceLogButton,
    #addLogResetInputFieldsButton,
    #printPageButton,
    #addLogDeleteVehicleButton {
        width: 5em;
    }
}

@media only screen and (max-width: 767px) {
    #userEmail{
        font-size: 22px;
    }

    .container {
        max-width: 100%;
    }

    #addVehicleButton {
        margin-top: 2em;
    }

    .notLoggedInImages {
        width: 10%;
    }

    #notLoggedInCarGif {
        width: 40%;
    }

    .centerOnMobile {
        text-align: center;
    }

    .signOutImage,
    .warningImage {
        width: 5em;
    }

    .imageMobileDisplay {
        width: 5em;
    }

    #addLogBackButton,
    #addServiceLogButton,
    #addLogResetInputFieldsButton,
    #addLogDeleteVehicleButton,
    #printPageButton {
        margin: 4px;
        width: 9em;
        height: 2em;
    }

    .logSubmitBtn,
    .logDeleteBtn {
        text-align: initial;
    }

    .innerBox {
        padding: initial;
        margin: initial;
    }

    .logButtonsMobileDisplay,
    .logDetailsMobileDisplay {
        width: initial;
    }

    .removeRowMobileDisplay {
        display: none;
    }

    .showUnderMobileDisplay {
        display: initial;
    }

    .centerButtonMobileDisplay {
        text-align: center;
        margin-top: 1em;;
    }

    .deleteBtn {
        width: 9em;
    }

    #editActionButton,
    #deleteActionButton {
        width: 6em;
    }

    .userInputErrorMessage {
        padding-left: initial;
        padding-right: initial;
    }

    #noMatchImage {
        width: 15em;
    }

    .wrapword {
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
        white-space: -webkit-pre-wrap;
        word-break: break-all;
        white-space: normal;
    }
}
    
@media only screen and (max-width: 575px) {
    #doNotSignOutButton,
    #doSignOutButton {
        width: 7em;
    }
}

@media only screen and (max-width: 414px) {
    #addVehicleButton,
    #resetVehicleInputFieldsButton {
        width: 10em;
        height: 3em;
        font-weight: bold;
    }

    .Toastify__toast-container--top-right {
        bottom: 4em;
        top: 0 !important;
    }

    .signOutImage,
    .warningImage {
        width: 3em;
    }
}

@media only screen and (max-width: 360px) {
    .navbar-brand {
        width: 70%;
    }
}
