/* div {
    border: 1px solid red;
} */

a.underline:link {
    color: white;
    text-decoration: none;
}

a.underline:visited {
    color: white;
    text-decoration: none;
}

a.underline:hover {
    color: white;
    text-decoration: none;
}

a.underline:active {
    color: white;
    text-decoration: none;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.accountModal {
    margin-top: 25%;
    background: rgba(255, 255, 255, 0.7);
}

.ReactModal__Overlay {
    background: rgba(64, 64, 64, 0.80) !important;
    box-shadow: 0px 2px 30px 1px;
}

.modalBody {
    background: rgb(235, 235, 235);
}

.modalShadow {
    box-shadow: 0px 2px 30px 1px;
}

input {
    width: 100%;
}

.navbar {
    background: rgba(100, 100, 100, 0.8);
}

.navbar-nav {
    position: fixed;
    right: 0;
}

.jumbotron {
    margin-top: 10px;
}

.box {
    background: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 1em;
}

.innerBox {
    background: rgb(200, 200, 200);
    margin: 10px;
    padding: 1em;
}

.commentsBox {
    width: 100%;
    margin: auto;
}

.required {
    color: red;
}

.logResetBtn,
.logSubmitBtn {
    text-align: center;
}

.addBtn,
.resetBtn,
.deleteBtn {
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.addBtn {
    background: rgb(200, 255, 200);
}

.resetBtn,
.deleteBtn {
    background: rgb(255, 200, 200);
}

#deleteBtn {
    margin: auto;
}

.addBtn:hover,
.resetBtn:hover,
.deleteBtn:hover {
    transition-duration: 0.2s;
}

.addBtn:hover {
    background: rgb(128, 255, 128);
}

.resetBtn:hover,
.deleteBtn:hover {
    background: rgb(255, 128, 128);
}

.nav-link:hover {
    transition-duration: 0.1s;
    background: rgb(64, 64, 64);
}

.nav-link {
    transition-duration: 0.2s;
}

.nav-link,
.backHomeBtn {
    cursor: pointer;
}

.notLoggedInImages {
    width: 100%;
}

#notLoggedInCarGif {
    width: 55%;
}

#createAccountLogo {
    width: 5%;
    margin-right: 5px;
}