.engineRevThemeBackground {
    transition-duration: 0.3s;
    background: rgb(235, 235, 235);
}

.engineRevThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(200, 200, 200) !important;
}

.engineRevThemeVehicleItemList,
.lightThemeVehicleItemList,
.transparentLightThemeVehicleItemList {
    background: rgb(225, 225, 225);
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
}

.lightThemeVehicleItemList:hover,
.transparentLightThemeVehicleItemList:hover,
.engineRevThemeVehicleItemList:hover {
    background: rgb(255, 255, 255);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.engineRevThemeAccountDetails,
.engineRevAboutContainer {
    background: rgb(245, 245, 245);
}

.lightThemeBackground {
    transition-duration: 0.3s;
    background: rgb(255, 255, 255) !important;
}

.transparentLightThemeBackground {
    transition-duration: 0.3s;
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(15px);
}

.lightThemeHr,
.transparentLightThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(240, 240, 240) !important;
}

.lightThemeOneThread,
.lightThemeOneUpdate,
.transparentLightThemeOneUpdate {
    color: rgb(0, 0, 0);
}

.lightThemeAccountDetails,
.lightThemeAboutContainer,
.transparentLightThemeAccountDetails,
.transparentLightThemeAboutContainer {
    background: rgb(240, 240, 240) !important;
    color: rgb(0, 0, 0);
}
.greyThemeBackground {
    transition-duration: 0.3s;
    background: rgb(168, 168, 168) !important;
    color: rgb(0, 0, 0) !important;
}

.transparentGreyThemeBackground {
    transition-duration: 0.3s;
    background: rgba(168, 168, 168, 0.5) !important;
    color: rgb(0, 0, 0) !important;
    backdrop-filter: blur(15px);
}

.greyThemeHr,
.transparentGreyThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(220, 220, 220) !important;
    box-shadow: 0px 0px 5px rgb(128, 128, 128);
}

.greyThemeVehicleItemList,
.transparentGreyThemeVehicleItemList {
    background: rgb(212, 212, 212);
    box-shadow: 2px 1px 2px 1px rgb(64, 64, 64);
}

.greyThemeVehicleItemList:hover,
.transparentGreyThemeVehicleItemList:hover {
    background: rgb(235, 235, 235);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.greyThemeOneThread,
.greyThemeOneUpdate,
.transparentGreyThemeOneThread,
.transparentGreyThemeOneUpdate {
    background: rgb(225, 225, 225) !important;
}

.greyThemeAccountDetails,
.greyThemeAboutContainer,
.transparentGreyThemeAccountDetails,
.transparentGreyThemeAboutContainer {
    background: rgb(225, 225, 225) !important;
    color: rgb(0, 0, 0);
}

.darkThemeBackground {
    transition-duration: 0.3s;
    background: rgb(64, 64, 64) !important;
    color: rgb(255, 255, 255) !important;
}

.transparentDarkThemeBackground {
    transition-duration: 0.3s;
    background: rgba(64, 64, 64, 0.5) !important;
    color: rgb(255, 255, 255) !important;
    backdrop-filter: blur(15px);
}

.darkThemeHr,
.transparentDarkThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(200, 200, 200) !important;
}

.darkThemeVehicleItemList,
.transparentDarkThemeVehicleItemList {
    background: rgb(48, 48, 48);
    box-shadow: 1px 1px 1px 1px rgb(24, 24, 24);
}

.darkThemeVehicleItemList:hover,
.transparentDarkThemeVehicleItemList:hover {
    background: rgb(92, 92, 92);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.darkThemeVehicleItemListFont,
.transparentDarkThemeVehicleItemListFont {
    color: rgb(255, 255, 255) !important;
}

.darkThemeOneThread,
.darkThemeOneUpdate,
.transparentDarkThemeOneThread,
.transparentDarkThemeOneUpdate,
.darkThemeAccountDetails,
.darkThemeAboutContainer,
.transparentDarkThemeAccountDetails,
.transparentDarkThemeAboutContainer {
    background: rgb(200, 200, 200) !important;
    color: rgb(0, 0, 0);
}

.engineRevThemeVehicleItemListFont,
.lightThemeVehicleItemListFont,
.greyThemeVehicleItemListFont,
.transparentLightThemeVehicleItemListFont,
.transparentGreyThemeVehicleItemListFont {
    color: rgb(0, 0, 0) !important;
}

.engineRevThemeServiceLogs,
.lightThemeServiceLogs,
.greyThemeServiceLogs,
.darkThemeServiceLogs,
.transparentLightThemeServiceLogs,
.transparentGreyThemeServiceLogs,
.transparentDarkThemeServiceLogs {
    color: rgb(0, 0, 0);
}
