.engineRevThemeBackground {
    transition-duration: 0.3s;
    background: rgb(235, 235, 235);
}

.engineRevThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(200, 200, 200) !important;
}

.engineRevThemeVehicleItemList,
.lightThemeVehicleItemList,
.transparentLightThemeVehicleItemList {
    background: rgb(225, 225, 225);
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
}

.lightThemeVehicleItemList:hover,
.transparentLightThemeVehicleItemList:hover,
.engineRevThemeVehicleItemList:hover {
    background: rgb(255, 255, 255);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.engineRevThemeAccountDetails,
.engineRevAboutContainer {
    background: rgb(245, 245, 245);
}

.lightThemeBackground {
    transition-duration: 0.3s;
    background: rgb(255, 255, 255) !important;
}

.transparentLightThemeBackground {
    transition-duration: 0.3s;
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px);
}

.lightThemeHr,
.transparentLightThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(240, 240, 240) !important;
}

.lightThemeOneThread,
.lightThemeOneUpdate,
.transparentLightThemeOneUpdate {
    color: rgb(0, 0, 0);
}

.lightThemeAccountDetails,
.lightThemeAboutContainer,
.transparentLightThemeAccountDetails,
.transparentLightThemeAboutContainer {
    background: rgb(240, 240, 240) !important;
    color: rgb(0, 0, 0);
}
.greyThemeBackground {
    transition-duration: 0.3s;
    background: rgb(168, 168, 168) !important;
    color: rgb(0, 0, 0) !important;
}

.transparentGreyThemeBackground {
    transition-duration: 0.3s;
    background: rgba(168, 168, 168, 0.5) !important;
    color: rgb(0, 0, 0) !important;
    backdrop-filter: blur(4px);
}

.greyThemeHr,
.orangeThemeHr,
.transparentOrangeThemeHr,
.transparentGreyThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(220, 220, 220) !important;
    box-shadow: 0px 0px 5px rgb(128, 128, 128);
}

.greyThemeVehicleItemList,
.transparentGreyThemeVehicleItemList {
    background: rgb(212, 212, 212);
    box-shadow: 2px 1px 2px 1px rgb(64, 64, 64);
}

.greyThemeVehicleItemList:hover,
.transparentGreyThemeVehicleItemList:hover {
    background: rgb(235, 235, 235);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.greyThemeOneThread,
.greyThemeOneUpdate,
.orangeThemeOneThread,
.orangeThemeOneUpdate,
.transparentOrangeThemeOneThread,
.transparentOrangeThemeOneUpdate,
.transparentGreyThemeOneThread,
.transparentGreyThemeOneUpdate {
    background: rgb(225, 225, 225) !important;
}

.greyThemeAccountDetails,
.greyThemeAboutContainer,
.orangeThemeAccountDetails,
.orangeThemeAboutContainer,
.transparentOrangeThemeAccountDetails,
.transparentOrangeThemeAboutContainer,
.transparentGreyThemeAccountDetails,
.transparentGreyThemeAboutContainer {
    background: rgb(225, 225, 225) !important;
    color: rgb(0, 0, 0);
}

.darkThemeBackground {
    transition-duration: 0.3s;
    background: rgb(64, 64, 64) !important;
    color: rgb(255, 255, 255) !important;
}

.transparentDarkThemeBackground {
    transition-duration: 0.3s;
    background: rgba(64, 64, 64, 0.5) !important;
    color: rgb(255, 255, 255) !important;
    backdrop-filter: blur(4px);
}

.redThemeHr,
.darkThemeHr,
.transparentRedThemeHr,
.transparentDarkThemeHr {
    transition-duration: 0.3s;
    border-top: 1px solid rgb(200, 200, 200) !important;
}

.darkThemeVehicleItemList,
.transparentDarkThemeVehicleItemList {
    background: rgb(48, 48, 48);
    box-shadow: 1px 1px 1px 1px rgb(24, 24, 24);
}

.darkThemeVehicleItemList:hover,
.transparentDarkThemeVehicleItemList:hover {
    background: rgb(92, 92, 92);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.redThemeVehicleItemListFont,
.darkThemeVehicleItemListFont,
.transparentRedThemeVehicleItemListFont,
.transparentDarkThemeVehicleItemListFont {
    color: rgb(255, 255, 255) !important;
}

.redThemeBackground {
    transition-duration: 0.3s;
    background: rgb(112, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

.orangeThemeBackground {
    transition-duration: 0.3s;
    background: rgb(192, 92, 0) !important;
    color: rgb(0, 0, 0) !important;
}

.redThemeVehicleItemList,
.transparentRedThemeVehicleItemList {
    background: rgb(68, 0, 0);
    box-shadow: 1px 1px 3px 1px rgb(24, 24, 24);
}

.redThemeVehicleItemList:hover,
.transparentRedThemeVehicleItemList:hover {
    background: rgb(92, 0, 0);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.orangeThemeVehicleItemList,
.transparentOrangeThemeVehicleItemList {
    background: rgb(212, 112, 0);
    box-shadow: 1px 1px 3px 1px rgb(24, 24, 24);
}

.orangeThemeVehicleItemList:hover,
.transparentOrangeThemeVehicleItemList:hover {
    background: rgb(225, 125, 0);
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.transparentRedThemeBackground {
    transition-duration: 0.3s;
    background: rgba(112, 0, 0, 0.5) !important;
    color: rgb(255, 255, 255) !important;
    backdrop-filter: blur(4px);
}

.transparentOrangeThemeBackground {
    transition-duration: 0.3s;
    background: rgba(192, 92, 0, 0.5) !important;
    color: rgb(0, 0, 0) !important;
    backdrop-filter: blur(4px);
}

.redThemeAccountDetails,
.redThemeOneUpdate,
.redThemeOneThread,
.redThemeAboutContainer,
.darkThemeOneThread,
.darkThemeOneUpdate,
.transparentRedThemeOneUpdate,
.transparentRedThemeOneThread,
.transparentDarkThemeOneThread,
.transparentDarkThemeOneUpdate,
.darkThemeAccountDetails,
.darkThemeAboutContainer,
.transparentRedThemeAccountDetails,
.transparentRedThemeAboutContainer,
.transparentDarkThemeAccountDetails,
.transparentDarkThemeAboutContainer {
    background: rgb(192, 192, 192) !important;
    color: rgb(0, 0, 0);
}

.engineRevThemeVehicleItemListFont,
.lightThemeVehicleItemListFont,
.greyThemeVehicleItemListFont,
.orangeThemeVehicleItemListFont,
.transparentOrangeThemeVehicleItemListFont,
.transparentLightThemeVehicleItemListFont,
.transparentGreyThemeVehicleItemListFont {
    color: rgb(0, 0, 0) !important;
}

.engineRevThemeServiceLogs,
.lightThemeServiceLogs,
.greyThemeServiceLogs,
.darkThemeServiceLogs,
.redThemeServiceLogs,
.orangeThemeServiceLogs,
.transparentOrangeThemeServiceLogs,
.transparentRedThemeServiceLogs,
.transparentLightThemeServiceLogs,
.transparentGreyThemeServiceLogs,
.transparentDarkThemeServiceLogs {
    color: rgb(0, 0, 0);
}

.lightThemeServiceLogs,
.lightThemeOneThread,
.lightThemeOneUpdate {
    border: 1px solid rgb(192, 192, 192);
}
